<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>PassowrdHash:</strong>
    <%= @user.passowrd_hash %>
  </li>

  <li>
    <strong>Role:</strong>
    <%= @user.role %>
  </li>

</ul>

<%= link "Back", to: user_path(@conn, :index) %>